# Кэш Python
__pycache__/
*.pyc

# Кэш mypy и pytest
.mypy_cache/
.pytest_cache/

# Отчёты покрытия кода
.coverage
coverage/

# Файлы разработчика IDE
.vscode/
.idea/

# Виртуальные окружения
.env
.venv/
env/
venv/

# Распространённые артефакты сборки
dist/
build/
*.egg-info/

# Системные файлы
.DS_Store
